{% extends "shop/layout.html" %}

{% block content %}
    <h1>Shop List</h1>

    <form action="" method="GET">
        <input type="text" name="query" value="{{ query }}" placeholder="검색어를 입력해주세요." />
        <input type="submit" value="검색" class="btn btn-primary" />
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shop_list %}
                <tr>
                    <td>
                        <a href="{{ shop.get_absolute_url }}">
                            {{ shop.name }}
                        </a>
                    </td>
                    <td>{{ shop.address }}</td>
                    <td>
                        <a href="{% url 'shop:shop_edit' shop.pk %}" class="btn btn-info btn-sm">
                            수정
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'shop:shop_delete' shop.id %}" class="btn btn-danger btn-sm">
                            삭제
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'shop:shop_new' %}" class="btn btn-primary">
        New Shop
    </a>
{% endblock %}