<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Item List</h1>

            <table class="table table-bordered table-hover">
            {% for shop in shop_list %}
                <tr>
                    <td>
                        <a href="/shop/{{ shop.pk }}/">
                            {{ shop.name }}
                        </a>
                    </td>
                    <td>{{ shop.desc }}</td>
                    <td>{{ shop.address }}</td>
                </tr>
            {% endfor %}
            </table>

            <a href="#" class="btn btn-primary">New Shop</a>
        </div>
    </div>
</div>